//
// Colors
//

// Override Bootstrap color variables

$red: #d7191f;
$yellow: #f4c20d;

// Override Bootstrap state colors variables

$primary: $red;
$secondary: $yellow;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
